<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cw.s4.board.qna.QnaDAO">
  	<select id="getList" resultType="QnaDTO" parameterType="Pager">
  		SELECT * FROM (SELECT ROWNUM R, QA.* FROM 
  		(SELECT * FROM QNA WHERE 
  		<choose>
  			<when test="kind=='title'">title</when>
  			<when test="kind=='contents'">contents</when>
  			<otherwise>writer</otherwise>
  		</choose> 
  		LIKE '%' || #{search} || '%' 
  		ORDER BY REF DESC, STEP ASC) QA) 
  		WHERE R BETWEEN #{startRow} and #{lastRow}
  	</select>
  	
  	<select id="getCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM QNA WHERE 
  		<choose>
  			<when test="kind=='title'">title</when>
  			<when test="kind=='contents'">contents</when>
  			<otherwise>writer</otherwise>
  		</choose> 
  		LIKE '%' || #{search} || '%' 
  	</select>
  	
 	<insert id="setInsert" parameterType="BoardDTO">
  		INSERT INTO QNA (NUM, TITLE, CONTENTS, WRITER, REF, STEP, DEPTH) 
  		VALUES(QNA_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, QNA_SEQ.NEXTVAL, 0, 0)
  	</insert>
	
	<select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO">
  		SELECT * FROM QNA WHERE NUM=#{num}
  	</select>
	
	<update id="setReplyUpdate" parameterType="QnaDTO">
		UPDATE QNA SET STEP=STEP+1 WHERE REF=#{ref} AND STEP>#{step}
	</update>
	
	<insert id="setReply" parameterType="BoardDTO">
		INSERT INTO QNA (NUM, TITLE, CONTENTS, WRITER, REF, STEP, DEPTH) 
		VALUES (QNA_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, #{ref}, #{step}, #{depth})
	</insert>
	
	<update id="setHitsUpdate" parameterType="BoardDTO">
		UPDATE	QNA SET HITS=HITS+1 WHERE NUM=#{num}
	</update>
  </mapper>